.container-fluid {
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    background-color: rgb(33, 42, 112);
    color: #f7f7f7;
    align-items: center;
    height: 60px;
}

.elements {
    display: flex;
    gap: 20px;
}

.contact{
    color: #f7f7f7;
    text-decoration: none;
    display: flex;
    gap: 20px;
    align-items: center;
}

.contact a {
    color: #f7f7f7;
}


.copyright{
    text-align: center;
    width: 100%;

}

.copyright p {
    margin: 0;
}